<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
		section{
			margin-bottom: 10px;
		}
		.stats{
			font-size: 22pt;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
		}
		.bugname{
			font-size: 22pt;
			cursor: pointer;
		}
		ol{
			width: 450px;
			list-style: none;
			-webkit-padding-start: 0px;
		}
		li{
			margin-bottom: 5px;
			border: 1px solid gray;
			background-color: #e7e7e7;
			padding: 5px;
			border-radius : 5px;
		}

	</style>
	<script>
		/*
		Use Cases
		=========
		1. Add a new bug - done
		2. List the bugs - done
		3. Toggle the 'closed' status of a bug - done
		4. Remove closed bugs - done
		5. Display statistics (# of closed bugs / # of total bugs) - done
		6. Search the bugs
		7. Sort the bugs
		8. Improvise the bug display
		9. Persist the bugs in the localStorage
		10. Display 'createdAt' for every bug
		11. Persist the bugs in the server
		12. Make the bugs accessible using a unique url
		*/
	</script>
	<script src="angular.js"></script>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);

		function createBugOperations(){
			var maxBugId = 0;
			return {
				toggle : function(bug){
					bug.isClosed = !bug.isClosed
				},
				createNew : function(newBugName){
					return {
						id : ++maxBugId,
						title : newBugName || '[Default bug]',
						isClosed : false
					}
				}
			}
		}

		bugTrackerApp.value('bugOperations', createBugOperations());

		bugTrackerApp.controller("bugsController", function($scope, bugOperations){
			$scope.bugs = [
				bugOperations.createNew("Server communication failure"),
				bugOperations.createNew("User actions not recognized"),
				bugOperations.createNew("Unable to add a new bug"),
			];
			
			$scope.newBug = '';
			
			$scope.addNew = function(){
				var newBugObj = bugOperations.createNew($scope.newBug);
				$scope.bugs.push(newBugObj);
				$scope.newBug = '';
			};

			$scope.toggle = function(bug){
				bugOperations.toggle(bug);
			};

			$scope.getClosedCount = function(){
				var result = 0;
				for(var i = 0; i < $scope.bugs.length; i++)
					if ($scope.bugs[i].isClosed)
						++result;
				return result;
			};

			$scope.removeClosed = function(){
				for(var i = $scope.bugs.length-1; i >= 0 ; i--)
					if ($scope.bugs[i].isClosed)
						$scope.bugs.splice(i,1);
			}
		});

	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<section class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{getClosedCount()}}</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" name="" id="">
			<label for="">Is Closed ? :</label>
			<input type="checkbox" name="" id="">
			<input type="button" value="Show All">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<input type="text" name="" id="">
			<label for="">Descending ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="edit">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBug">
			<input type="button" value="Add New" ng-click="addNew()">
		</section>
		<section class="list">
			<ol>
				<li ng-repeat="bug in bugs track by $index">
					<span class="bugname" ng-click="toggle(bug)" ng-class="{closed : bug.isClosed}">
						{{bug.title}}
					</span>
					<div>[{{bug.id}}]</div>
				</li>
			</ol>
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
		</section>
	</section>
</body>
</html>